<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - urbanX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/urban_leo.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="images/logo_icon.png">

    <!-- Estilos de iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Fuente de Letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<style>

    body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    }

    html, body {
        height: 100%;
    }
</style>
<body>

    <header>
        <div class="contenedor_menu">
            <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>

            <div class="logo-contenedor">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo_white.png" alt=""></a>
            </div>

            <input type="radio" name="slider" id="menu-btn" class="inputs_menu_l">
            <input type="radio" name="slider" id="close-btn" class="inputs_menu_l">
            
            <ul class="enlances_links_1">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li class="itmes_menu">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="itmes_menu">
                    <a asp-area="" asp-controller="Nosotros" asp-action="Index">Nosotros</a>
                </li>
                <li class="itmes_menu">
                    <a asp-area="" asp-controller="Catalogo" asp-action="Index">Catalogo</a>
                </li>
                <li class="itmes_menu">
                    <a asp-area="" asp-controller="Contacto" asp-action="Index">Contacto</a>
                </li>
                
                <partial name="_LoginPartial2" />
                
                <partial name="_MenuAdminPartial" />
                <!--li>
                    <a href="#" class="desktop-item">Perfil</a>
                    <input type="checkbox" id="showDrop">
                    <label for="showDrop" class="mobile-item">Perfil</label>
                    <ul class="drop-menu">
                    <li><a href="#">Drop menu 1</a></li>
                    <li><a href="#">Drop menu 2</a></li>
                    <li><a href="#">Drop menu 3</a></li>
                    <li><a href="#">Drop menu 4</a></li>
                    </ul>
                </li-->
            </ul>

            <partial name="_LoginPartial" />

            <i class="fa-solid fa-magnifying-glass buscador_celular" id="buscador_icono"></i>

            <div class="caja_buscador">
                <form asp-controller="Catalogo" asp-action="Index">
                    <i class="fa-solid fa-magnifying-glass buscador_celular"></i>
                    <input type="text" name="searchString" class="input-buscador" placeholder="Buscar productos...">
                </form>
            </div>



        </div>
    </header>

    <div class="" style="width: 100%; margin: 0; padding: 0 15px;">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="contenido-footer">
            <div class="top">
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img class="logo-details" src="/images/logo_white.png" alt=""></a>
                </div>
                <div class="footer-redes">
                    <a href="https://www.facebook.com/profile.php?id=61566109572149"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/ropaurbana_urbanx/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://x.com/UrbanX382160"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="@("https://www.tiktok.com/@urbanx10?is_from_webapp=1&sender_device=pc")"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
            <div class="links-boxes">
                <ul class="box">
                    <li class="link_name_footer">Sobre Nosotros</li>
                    <li><a asp-controller="Nosotros" asp-action="Index">Nuestra Historia</a></li>
                    <li><a asp-controller="Mision_Vision" asp-action="Index">Misión y Visión</a></li>
                    <li><a asp-controller="Equipo" asp-action="Index">Equipo</a></li>
                    <li><a asp-controller="Ubicacion" asp-action="Index">Ubicación</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name_footer">Legal</li>
                    <li><a asp-controller="Aviso_legal" asp-action="Index">Aviso Legal</a></li>
                    <li><a asp-controller="Politica_envio" asp-action="Index">Políticas de Envío</a></li>
                    <li><a asp-controller="Contacto" asp-action="Index">Contacto de Atención</a></li>
                    <li><a asp-controller="Politica_devolucion" asp-action="Index">Políticas de Devolución</a></li>
                </ul>
                <ul class="box input-box">
                    <li class="link_name_footer">Suscribete</li>
                    <li><input type="text" placeholder="Ingresa tu correo"></li>
                    <li><input type="button" value="Suscribirse"></li>
                </ul>
            </div>
        </div>
        <div class="bottom-details">
            <div class="bottom_text">
                <span class="copyright_text">Copyright &#169; 2024 <a asp-controller="Home" asp-action="Index">UrbanX.</a>Todos los derechos reservados</span>
                <span class="policy_terms">
                    <a asp-controller="Politica_privacidad" asp-action="Index">Política de Privacidad</a>
                    <a asp-controller="Terminos_condiciones" asp-action="Index">Términos y Condiciones</a>
                </span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.getElementById("buscador_icono").addEventListener("click", function() {
        var cajaBuscador = document.querySelector(".caja_buscador");
        cajaBuscador.classList.toggle("show"); // Alterna la clase 'show'
    });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
