<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo</title>

    <link rel="stylesheet" href="~/css/equipo.css" asp-append-version="true" />

</head>
<body>

    <section id="equipo">
        <h2>Conoce a Nuestro Equipo</h2>
        <div class="team-container">
            <div class="team-member">
                <img src="/images/Leonardo.jpeg" alt="Leonardo" class="team-photo" />
                <h3>Leonardo</h3>
                <p>Como líder del grupo, Leonardo supervisa todos los aspectos del desarrollo, asegurando que cada detalle de nuestra plataforma funcione a la perfección. Desarrollador full stack para ofrecer una experiencia de usuario impecable.</p>
            </div>
            <div class="team-member">
                <img src="/images/julio.jpg" alt="Julio" class="team-photo" />
                <h3>Julio</h3>
                <p>Se encarga de la lógica del servidor y la gestión de bases de datos. Su habilidad para construir sistemas robustos y eficientes garantiza que nuestra tienda funcione sin problemas y que tus datos estén seguros.</p>
            </div>
            <div class="team-member">
                <img src="/images/lazaro.jpg" alt="Jesús" class="team-photo" />
                <h3>Jesús</h3>
                <p>Da vida a nuestra tienda con su habilidad en el desarrollo frontend. Su enfoque en el diseño y la usabilidad asegura que la interfaz de usuario sea atractiva y fácil de navegar, proporcionando una experiencia visual fluida.</p>
            </div>
            <div class="team-member">
                <img src="/images/lobaton.png" alt="Lobatón" class="team-photo" />
                <h3>Lobatón</h3>
                <p>Combina habilidades en frontend y backend para crear una integración perfecta entre la apariencia de nuestra tienda y su funcionalidad. Su versatilidad le permite abordar múltiples desafíos técnicos, contribuyendo significativamente al éxito de UrbanX.</p>
            </div>
        </div>
        <p class="equipo_p">Juntos, trabajamos para ofrecerte lo mejor en moda urbana con un sitio web que no solo es visualmente impresionante, sino también funcional y fácil de usar. ¡Gracias por ser parte de nuestra comunidad!</p>
    </section>
    
</body>
</html>