<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicación</title>

    <link rel="stylesheet" href="~/css/ubicacion.css" asp-append-version="true" />

    <!-- Estilos de iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <div id="ubicacion-wrapper">
        <div id="ubicacion-container">
            <div id="ubicacion-texto">
                <h2>Ubicación</h2>
                <p>¡Nos encantaría verte en persona! Puedes encontrarnos en nuestra tienda física para explorar nuestra colección de ropa de estilo urbano y recibir atención personalizada.</p>
                <p><strong>Dirección:</strong><br>Jockey Plaza</p>
                <p><strong>Teléfono:</strong><br>+51 01 234 5678</p>
                <p><strong>Correo Electrónico:</strong><br>urbanxsuport@gmail.com</p>
                <p><strong>Horarios de Atención:</strong><br>
                - Lunes a Viernes: 8:00 AM - 6:00 PM<br>
                - Sábados y Domingo: 10:00 AM - 4:00 PM
                </p>
            </div>
            <img src="/images/ubicacion.png" alt="Ubicación de la tienda" id="ubicacion-imagen">
        </div>
    </div>
</body>
</html>