<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mision y Vision</title>

    <link rel="stylesheet" href="~/css/mision_vision.css" asp-append-version="true" />
    
    <!-- Estilos de iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Fuente de Letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="mission-vision">
        <div class="section-container">
            <div class="section-content">
                <div class="section-image">
                    <img src="/images/mision.jpg" alt="Misión">
                </div>
                <div class="section-text">
                    <h2>Misión</h2>
                    <p>La misión de UrbanX es crear moda urbana de alta calidad que resuene con la esencia de las calles y el dinamismo de las ciudades. Buscamos inspirar a nuestros clientes a expresar su individualidad a través de nuestras colecciones, manteniendo siempre un compromiso firme con la ética, la sostenibilidad y la inclusión. Nos dedicamos a ofrecer un servicio excepcional, asegurando que cada interacción con nuestra marca sea significativa y satisfactoria.</p>
                </div>
            </div>
        </div>

        <div class="section-container">
            <div class="section-content">
                <div class="section-text">
                    <h2>Visión</h2>
                    <p>Nuestra visión en UrbanX es ser la marca de referencia en moda urbana a nivel mundial, ofreciendo a nuestros clientes no solo prendas de vestir, sino una experiencia que refleje su personalidad, estilo de vida y aspiraciones. Nos esforzamos por liderar la innovación en el diseño, materiales y sostenibilidad, conectando culturas y comunidades a través de la moda.</p>
                </div>
                <div class="section-image">
                    <img src="/images/vision.jpg" alt="Visión">
                </div>
            </div>
        </div>

        <div class="section-container">
            <div class="section-content">
                <div class="section-image">
                    <img src="/images/valores.jpg" alt="Valores">
                </div>
                <div class="section-text">
                    <h2>Valores</h2>
                    <ul class="valoresUrbanX">
                        <li><strong>Creatividad:</strong> Innovamos continuamente para ofrecer diseños únicos que reflejen la esencia de la moda urbana.</li>
                        <li><strong>Calidad:</strong> Nos comprometemos a utilizar materiales de primera clase y procesos de fabricación responsables para garantizar la durabilidad y comodidad de nuestras prendas.</li>
                        <li><strong>Inclusión:</strong> UrbanX celebra la diversidad y cree que la moda debe ser accesible y representativa de todas las personas, sin importar su origen, género o identidad.</li>
                        <li><strong>Sostenibilidad:</strong> Estamos dedicados a minimizar nuestro impacto ambiental a través de prácticas sostenibles en todas las etapas de producción.</li>
                        <li><strong>Compromiso:</strong> Nos dedicamos a crear relaciones duraderas con nuestros clientes, basadas en la confianza, el respeto y la satisfacción.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>