<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>

    <link rel="stylesheet" href="~/css/terminos_condiciones.css" asp-append-version="true" />
    <!-- Estilos de iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Fuente de Letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="section_terminos">
        <div class="contenedor_terminos">
            <h1 class="terminos_text">Terminos y Condiciones</h1>
            <p class="terminos_text">Bienvenido a UrbanX. Al acceder o utilizar nuestro sitio web, aceptas cumplir con los siguientes términos y condiciones. Por favor, léelos detenidamente antes de realizar cualquier compra o utilizar nuestros servicios.</p>
            
            <h4>1. Generalidades</h4>
            <p><strong>Propiedad del Sitio:</strong> Este sitio web es operado por UrbanX. A lo largo del sitio, los términos "nosotros", "nuestro" y "nos" se refieren a UrbanX. UrbanX ofrece este sitio web, incluidas todas las herramientas, servicios y productos disponibles para ti, el usuario, condicionado a la aceptación de todos los términos, condiciones, políticas y avisos aquí establecidos.</p>
            <p><strong>Uso del Sitio:</strong> Al utilizar nuestro sitio, garantizas que tienes al menos la mayoría de edad en tu estado o provincia de residencia, o que tienes la mayoría de edad y has dado tu consentimiento para permitir que cualquiera de tus dependientes menores use este sitio.</p>
        
            <h4>2. Condiciones de Venta</h4>
            <p><strong>Disponibilidad de Productos:</strong> Todos los productos están sujetos a disponibilidad. Nos reservamos el derecho de limitar las cantidades de cualquier producto o servicio que ofrezcamos. También nos reservamos el derecho de discontinuar cualquier producto en cualquier momento.</p>
            <p><strong>Precios:</strong> Los precios de nuestros productos están sujetos a cambio sin previo aviso. Nos reservamos el derecho de modificar o descontinuar el servicio (o cualquier parte o contenido del mismo) en cualquier momento sin previo aviso.</p>
            <p><strong>Impuestos:</strong> Los precios mostrados no incluyen impuestos. Cualquier impuesto aplicable será añadido durante el proceso de pago y es responsabilidad del cliente.</p>
        
            <h4>3. Pedidos y Pagos</h4>
            <p><strong>Realización de Pedidos:</strong> Para realizar un pedido, deberás proporcionar información personal completa y precisa, incluido tu nombre, dirección de envío y facturación, y detalles de pago. Nos reservamos el derecho de rechazar cualquier pedido que realices con nosotros.</p>
            <p><strong>Confirmación de Pedido:</strong> Una vez realizado el pedido, recibirás un correo electrónico de confirmación. Este correo electrónico no significa que tu pedido haya sido aceptado; es simplemente una confirmación de que hemos recibido tu solicitud.</p>
            <p><strong>Pago:</strong> Todos los pagos deben realizarse en el momento de la compra. Aceptamos las principales tarjetas de crédito, PayPal y otros métodos de pago indicados en el sitio. Si no podemos procesar tu pago, tu pedido será cancelado.</p>
        
            <h4>4. Envío y Entrega</h4>
            <p><strong>Política de Envío:</strong> Consulta nuestra <a asp-controller="Politica_envio" asp-action="Index" class="link_poli_terminos">Política de Envío</a> para obtener detalles completos sobre cómo manejamos el procesamiento, envío y entrega de pedidos.</p>
            <p><strong>Responsabilidad del Envío:</strong> UrbanX no es responsable por los retrasos en la entrega que estén fuera de nuestro control, incluidos los causados por eventos naturales o problemas con el servicio de mensajería.</p>
        
            <h4>5. Devoluciones y Reembolsos</h4>
            <p><strong>Política de Devoluciones:</strong> Consulta nuestra <a asp-controller="Politica_devolucion" asp-action="Index" class="link_poli_terminos">Política de Devoluciones</a> para obtener detalles completos sobre cómo manejar devoluciones, cambios y reembolsos.</p>
            <p><strong>Productos No Reembolsables:</strong> Ten en cuenta que ciertos productos, como los artículos personalizados o en oferta, no son reembolsables.</p>
        
            <h4>6. Propiedad Intelectual</h4>
            <p><strong>Derechos de Autor:</strong> Todo el contenido del sitio, incluidos textos, gráficos, logotipos, imágenes, clips de audio, descargas digitales y compilaciones de datos, es propiedad de UrbanX o sus proveedores de contenido y está protegido por leyes de derechos de autor.</p>
            <p><strong>Marcas Comerciales:</strong> Las marcas, logotipos y nombres comerciales mostrados en el sitio son propiedad de UrbanX o de terceros que han autorizado su uso. No puedes utilizar ninguna de estas marcas sin el consentimiento previo por escrito de UrbanX.</p>
        
            <h4>7. Limitación de Responsabilidad</h4>
            <p><strong>Exclusión de Garantías:</strong> Este sitio y todos los productos y servicios que se ofrecen a través del sitio se proporcionan "tal cual" y "según disponibilidad", sin ninguna garantía expresa o implícita, incluidas las garantías implícitas de comerciabilidad y adecuación para un propósito particular.</p>
            <p><strong>Limitación de Daños:</strong> En ningún caso UrbanX, sus directores, empleados, afiliados, agentes, contratistas, internos, proveedores de servicios o licenciantes serán responsables por cualquier daño directo, indirecto, incidental, punitivo, especial o consecuente que surja del uso de cualquiera de los servicios o productos adquiridos a través del sitio.</p>
        
            <h4>8. Modificaciones a los Términos y Condiciones</h4>
            <p>Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de estos términos y condiciones publicando actualizaciones y cambios en nuestro sitio web. Es tu responsabilidad revisar esta página periódicamente para ver si hay cambios.</p>
        
            <h4>9. Ley Aplicable</h4>
            <p>Estos términos y condiciones se rigen e interpretan de acuerdo con las leyes del estado Peruano, sin considerar sus disposiciones sobre conflicto de leyes.</p>
        
            <h4>10. Contacto</h4>
            <p>Si tienes alguna pregunta sobre estos términos y condiciones, puedes contactarnos en <strong>urbanxsuport@gmail.com</strong></p>
        
        </div>
    </div>
</body>
</html>