<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politicas de Envio</title>

    <link rel="stylesheet" href="~/css/politica_envio.css" asp-append-version="true" />

    <!-- Estilos de iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Fuente de Letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="section_envio">
        <div class="contenedor_envio">
            <h1 class="envio_text">Políticas de Envío</h1>
            <p class="envio_text" >¡Gracias por elegir UrbanX! Queremos asegurarnos de que tu experiencia de compra sea lo más fluida posible. A continuación, te presentamos nuestras políticas de envío:</p>
            
            <h2>Procesamiento de Pedidos</h2>
            <p><strong>Tiempo de Procesamiento:</strong> Todos los pedidos se procesan dentro de 1 a 2 días hábiles (excluyendo fines de semana y días festivos) después de recibir la confirmación del pedido.</p>


            <h2>Opciones y Costos de Envío</h2>
            <p><strong>Envío Nacional Único:</strong> Actualmente, solo realizamos envíos dentro de Perú. El costo del envío es fijo y es de S/ 5.00 para todo el país. Los pedidos suelen llegar entre 5 a 7 días hábiles, dependiendo de tu ubicación.</p>


            <h2>Retrasos en el Envío</h2>
            <p> Aunque hacemos todo lo posible por cumplir con nuestros tiempos de envío, pueden ocurrir retrasos por factores fuera de nuestro control (como retrasos aduaneros o climáticos). Si experimentas un retraso significativo, por favor contáctanos y haremos nuestro mejor esfuerzo para asistirte.</p>
            
            <h2>Direcciones Incorrectas</h2>
            <p>Asegúrate de ingresar correctamente tu dirección de envío. UrbanX no se hace responsable de los pedidos no entregados debido a direcciones incorrectas proporcionadas por el cliente.</p>
            
            <h2>Política de Devoluciones</h2>
            <p>Si tienes algún problema con tu pedido o deseas realizar una devolución, revisa nuestra <a asp-controller="Politica_devolucion" asp-action="Index" class="link_poli_envio">Política de Devoluciones</a> para obtener más detalles.</p>
            
            <h2>Contacto</h2>
            <p>Si tienes alguna pregunta o inquietud sobre tu envío, no dudes en contactarnos a través de <strong>urbanxsuport@gmail.com</strong> o nuestro <a asp-controller="Contacto" asp-action="Index" class="link_poli_envio">formulario de contacto</a> en el sitio web.</p>
        </div>
    </div>
</body>
</html>