<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica de Devolucion</title>

    <link rel="stylesheet" href="~/css/politica_devolucion.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="section_devoluciones">
        <div class="contenedor_devoluciones">
            <h1 class="devoluciones_text">Políticas de Devoluciones</h1>
            <p class="devoluciones_text">En UrbanX, queremos que estés completamente satisfecho con tu compra. Si por alguna razón no estás satisfecho con tu pedido, estamos aquí para ayudarte. A continuación, encontrarás nuestra política de devoluciones:</p>
            
            <h2>Condiciones de Devolución</h2>
            <p><strong>Plazo para Devoluciones:</strong> Aceptamos devoluciones de productos dentro de los 30 días posteriores a la recepción de tu pedido.</p>
            <p><strong>Estado del Producto:</strong> Los artículos deben estar sin usar, sin lavar y en las mismas condiciones en que los recibiste. También deben tener las etiquetas originales adjuntas.</p>
            <p><strong>Exclusiones:</strong> No se aceptan devoluciones de artículos en oferta.</p>
    
            <h2>Proceso de Devolución</h2>
            <p>1. <strong>Iniciar una Devolución:</strong> Para iniciar el proceso de devolución, comunícate con nuestro equipo de atención al cliente a través de <strong>urbanxsuport@gmail.com</strong> <a asp-controller="Contacto" asp-action="Index" class="link_poli_devoluciones">o completa el formulario</a>  de devolución en nuestro sitio web.</p>
            <p>2. <strong>Empaque y Envío:</strong> Empaca los artículos que deseas devolver en su empaque original o en uno similar que asegure la protección del producto. Incluye el recibo o prueba de compra.</p>
            <p>3. <strong>Etiqueta de Devolución:</strong> Una vez que tu solicitud de devolución sea aprobada, recibirás una etiqueta de envío por correo electrónico. Imprime la etiqueta y pégala en el paquete.</p>
            <p>4. <strong>Envío del Paquete:</strong> Lleva el paquete a la oficina de correos más cercana o programa una recogida con el transportista.</p>
    
            <h2>Reembolsos</h2>
            <p><strong>Método de Reembolso:</strong> Una vez que recibamos tu devolución e inspeccionemos los artículos, procesaremos tu reembolso a la forma de pago original. Los reembolsos suelen procesarse dentro de 5-7 días hábiles.</p>
            <p><strong>Costo del Envío:</strong> Los costos de envío originales no son reembolsables. Si utilizas nuestra etiqueta de devolución, se deducirá un cargo de S/ 5.00 de tu reembolso.</p>
            <p><strong>Artículos Defectuosos:</strong> Si recibiste un artículo defectuoso o incorrecto, contáctanos de inmediato. UrbanX cubrirá los costos de envío de la devolución y te ofreceremos un reembolso completo o un reemplazo.</p>
    
            <h2>Intercambios</h2>
            <p>Si deseas realizar un intercambio por otro tamaño o color, por favor sigue el proceso de devolución y realiza un nuevo pedido del artículo deseado en nuestro sitio web.</p>
    
            <h2>Artículos No Reembolsables</h2>
            <p>Como se mencionó anteriormente, no aceptamos devoluciones de productos en oferta. Asegúrate de revisar cuidadosamente tu pedido antes de realizar la compra.</p>
    
            <h2>Contacto</h2>
            <p>Si tienes alguna pregunta o necesitas más información sobre nuestras políticas de devoluciones, no dudes en contactarnos a través de <strong>urbanxsuport@gmail.com</strong></p>
        </div>
    </div>
    
</body>
</html>